<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Courgette|Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
  <h1>Giphy API</h1>

  <div class="container">
    <form id="gif-search">
      <div class="one-half column">
        <label for="search-term">Search Term</label>
        <input class="search-term" type="text" id="search-term" required>
        <input type="submit" id="search-button">
        <!-- <button type="reset" id="clear-button">Clear</button> -->
      </div>
    </form>
  </div>

    <div id="result-container">
    <div id="result">
    </div>
  </div>

  <script src="lodash.js"></script>
  <script type="text/template" id="results-template">
    <div id="results_container">
      <table id ="results">
        <tr>
          <td>Bitly URL</td>
          <td><%= bitly_gif_url %></td>
        </tr>
        <tr>
          <td>Rating</td>
          <td><%= rating %></td>
        </tr>
        <tr>
          <td><img class="gif" src="<%= img_src %>"></td>
        </tr>
      </table>
    </div>
  </script>
  <script src="main.js"></script>
</body>
</html>

