<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Courgette|Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
  <h1>Giphy API</h1>

  <p>Welcome to the Groovy Giphy API!! Enter a search term to find GIFs, because, why the fuck not?</p>

  <div class="container">
    <form id="gif-search">
      <div class="one-half column">
        <label for="search-term"></label>
        <input class="search-term" type="text" id="search-term" placeholder="Search for a GIF" required>
        <input type="submit" id="search-button">
        <!-- <button type="reset" id="clear-button">Clear</button> -->
      </div>
    </form>
  </div>

    <div id="result">
    </div>

  <script src="lodash.js"></script>

  <table id ="results">
    <script type="text/template" id="results-template">
      <div class="text-div">
        <img src="<%= img_src %>">
        <p>Bitly URL: <%= bitly_gif_url %></p>
        <p>Rated: <%= rating %></p>
      </div>
    </script>
  </table>

  <script src="main.js"></script>
</body>
</html>















