h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 6em;
  color: #019688;
  margin-bottom: 40px;
}

p {
  font-family: 'Courgette', cursive;
  font-size: 15px;
}

#show {
  font-family: 'Courgette', cursive;
  font-size: 14px;
}

#results {
  font-family: 'Courgette', cursive;
  font-size: 14px;
  border: 2px;
  border-color: black;
}

.text-div {
  font-family: 'Courgette', cursive;
  font-size: 14px;
  position: relative;
  float: left;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  padding: 0;
  margin: 12px;
  border-width: thin;
  background-color: rgb(1, 150, 136);
}


