h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 6em;
  color: #019688;
  margin-bottom: 40px;
}

#show {
  font-family: 'Courgette', cursive;
  font-size: 20px;
}
/*font-family: 'Courgette', cursive;*/
#results {
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

